<div>
  <div>
    <img class="image" [src]="logoSrc" alt="logo" />
  </div>
  <mat-nav-list class="nav-container">
    @for (navItem of navItems; track $index) {
    <a
      mat-list-item
      [routerLink]="navItem.route"
      [activated]="isActive(navItem.route)"
    >
      <div class="nav-item primary-text">
        <mat-icon>{{ navItem.icon }}</mat-icon>
        <div>{{ navItem.label }}</div>
      </div>
    </a>
    }
    <a class="bottom" mat-list-item [routerLink]="logoutNav.route">
      <div class="nav-item primary-text">
        <mat-icon>{{ logoutNav.icon }}</mat-icon>
        <div>{{ logoutNav.label }}</div>
      </div>
    </a>
  </mat-nav-list>
</div>
